<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>mytamievent</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">


<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="css/all.min.css" />
<!-- custom CSS -->
<link rel="stylesheet" type="text/css" href="css/webiste-style.css">
<link rel="stylesheet" type="text/css" href="css/web-site-mobile.css">

<link rel='stylesheet' id='owl.carousel-css'  href='css/owl.carousel.min.css' type='text/css' media='all' />



</head>
 <body>
   <header class="sp-index">
     <div class="fixed-top">
          <div class="container-fluid">
             <nav class="navbar navbar-expand-lg navbar-light main-menu">
                  <a class="navbar-brand" href="#">
                     <img src="images/logo.png" alt="logo">
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="#">How it works </a>
                      </li>
                      
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Browse
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle sign-in" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Sign in
                        </a>
                        <div class="dropdown-menu login-div" aria-labelledby="navbarDropdown">
                          <div class="login-inside">
                             <div class="form-group">
                                <input type="email" class="form-control" placeholder="email" required>
                             </div>
                             <div class="form-group">
                                <input type="password" class="form-control" placeholder="password" required>
                             </div>
                             <div class="button-div">
                               <a href="#" class="login-bn-header"> Login </a>
                               <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                  <label class="form-check-label" for="exampleCheck1">Keep me logged in</label>
                                </div>
                             </div>
                          </div>
                          <div class="forget-sec">
                             <a href="#"> Forget Password ? </a>
                             <a href="#"> Create an account </a>
                          </div>
                        </div>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link join-in" href="#"> Join In </a>
                      </li>
                      
                      
                      
                    </ul>
                    
                  </div>
                </nav>
          </div>
     </div>  
         
       <div class="banner-with-img">
         <img src="images/banner.png" alt="banner-pic" class="banner-pic">
         <div class="baner-content">
             <h1> Plan your events <span> while enjoying the process </span> </h1>
               <div class="select-part">
                  <div class="form-group serch-div">
                     <input type="text" class="form-control" placeholder="i'm looking for..">
                  </div>
                  <div class="form-group">
                     <select class="form-control sel-sec">
                        <option> Services </option>
                        <option> Services 2 </option>
                        <option> Services 3 </option>
                     </select>
                  </div>
                  <button class="search-bn"> Search </button>
               </div>
         </div>
       </div>
   </header>
   
   <div class="body-d1">
     <div class="container">
        <div class="comon-heading">
           <h2> Trending Top <span> Categories </span> </h2>
           <p> Find the sservice you need in just few clicks </p>
        </div>
        
        <div class="cate-part">
          <div class="row">
            <div class="col-md-6 col-lg-3">
               <div class="category-items">
                  <div class="products-pic">
                     <img src="images/videography.png" alt="pic12">
                  </div>
                  <h4> Videography </h4>
                  <p> Our videographers will capture your special moments
to be cherished for a lifetime. </p>
                  
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="category-items">
                  <div class="products-pic">
                     <img src="images/camera.png" alt="pic12">
                  </div>
                  <h4> Photography </h4>
                  <p> Hire the services of our make-up and hair maestros
to get a flawless look for your big day. </p>
                  
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="category-items">
                  <div class="products-pic">
                      <img src="images/beauty.png" alt="pic12">
                  </div>
                  <h4> Make-up & hair </h4>
                  <p> Hire the services of our make-up and hair maestros
to get a flawless look for your big day.</p>
                  
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="category-items">
                  <div class="products-pic">
                     <img src="images/wedding.png" alt="pic12">
                  </div>
                  <h4> Decorations </h4>
                  <p>  With our list of expert designers the stunning decor will blow life into your
events. </p>
                  
                  
                  
               </div>
               
               
               
            </div>
            
            <div class="col-md-6 col-lg-3">
               <div class="category-items">
                  <div class="products-pic">
                     <img src="images/entertainment.png" alt="pic12">
                  </div>
                  <h4> Entertainment </h4>
                  <p> Want to spice up your day a little?
We have performers that will just do the trick! .</p>
                  
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="category-items">
                  <div class="products-pic">
                     <img src="images/jewelery.png" alt="pic12">
                  </div>
                  <h4> Jewelers </h4>
                  <p> Chose accessories from your favorite brand's collection to
take your style a notch up. </p>
                  
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="category-items">
                  <div class="products-pic">
                     <img src="images/dj.png" alt="pic12">
                  </div>
                  <h4> Dj </h4>
                  <p> Time to move to your favorite songs! Make your events
groovy and red becasues thre airn't no stopping our Dj. </p>
                  
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="category-items">
                  <div class="products-pic">
                     <img src="images/fashion.png" alt="pic12">
                  </div>
                  <h4> Outfits </h4>
                  <p> Check your admired lable,
choose your size and get ready to dazzle with your flair. </p>
                  
               </div>
               
               
               
            </div>
            
            <div class="col-md-6 col-lg-3">
               <div class="category-items">
                  <div class="products-pic">
                     <img src="images/catering.png" alt="pic12">
                  </div>
                  <h4> Catering </h4>
                  <p> Indulge in finger-licking goodness prepared especially by our trained chefs. </p>
                  
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="category-items">
                  <div class="products-pic">
                     <img src="images/henna-painted-hand.png" alt="pic12">
                  </div>
                  <h4> Henna </h4>
                  <p> Hire the services of our make-up and hair maestros
to get a flawless look for your big day. </p>
                  
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="category-items">
                  <div class="products-pic">
                     <img src="images/cake.png" alt="pic12">
                  </div>
                  <h4> Cakes </h4>
                  <p> Hire the services of our make-up and hair maestros to get a flawless look for your big day. </p>
                  
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="category-items">
                  <div class="products-pic">
                     <img src="images/cocktails.png" alt="pic12">
                  </div>
                  <h4> Bar & Cocktails </h4>
                  <p> Make a toast your favorite margaritas and coladas,
becasues this bartendder here has magic in hands! </p>
                  
                  
                  
               </div>
               
               
               
            </div>
            
            <div class="col-md-6 col-lg-3">
               <div class="category-items">
                  <div class="products-pic">
                     <img src="images/cocktails.png" alt="pic12">
                  </div>
                  <h4> Transportation </h4>
                  <p> Our car hire services list includes the most affordable providers to make your ride a memorable experience. </p>
                  
                  
                  
               </div>
               
               
               
            </div>
            
            <div class="col-md-6 col-lg-3">
               <div class="category-items">
                  <div class="products-pic">
                     <img src="images/cocktails.png" alt="pic12">
                  </div>
                  <h4> Heena </h4>
                  <p> Choose a design and enjoy the creativity !</p>
                  
                  
                  
               </div>
               
               
               
            </div>
            
            <div class="col-md-6 col-lg-3">
               <div class="category-items">
                  <div class="products-pic">
                      <img src="images/cocktails.png" alt="pic12">
                  </div>
                  <h4> Flowers </h4>
                  <p> Hire the services of our make-up and hair maestros to get a flawless look for your big day.</p>
                  
                  
                  
               </div>
               
               
               
            </div>
            
            <div class="col-md-6 col-lg-3">
               <div class="category-items pt-0">
                  <div class="hover-div-show">
                      <div class="inside-text">
                        <h4> Explore Services </h4>
                        <p> Find everything you need </p>
                        <a href="#"> Show all </a>
                       </div>
                    </div>
            </div>
            
          </div>
        </div>
        
     </div>
   </div>
  </div>
   
   <div class="body-d2">
     <div class="container">
        <div class="comon-heading">
           <h2> How it Works</h2>
           <p> A Worderfull and hassle-free process. </p>
        </div>
        <div class="work-steps">
              <div class="row">
                 <div class="col-md-6 col-lg-3">
                    <div class="comon-steps">
                       <div class="steps-img">
                       </div>
                       <h5> Search th supplier you need </h5>
                       <p> Use serach engines to find our suppliers or browse through the categories to find the right supplier for your event.</p>
                    </div>
                 </div>
                 <div class="col-md-6 col-lg-3">
                    <div class="comon-steps">
                       <div class="steps-img">
                       </div>
                       <h5> Contact the Supplier </h5>
                       <p> Check out their profile and drop a message in their inbox gettings with supplier wasn't this easy before!  </p>
                    </div>
                 </div>
                 <div class="col-md-6 col-lg-3">
                    <div class="comon-steps">
                       <div class="steps-img">
                       </div>
                       <h5> Retrieve a Quote </h5>
                       <p> If the supplier meets your expectation,
ask for quote and crack a deal over the best price.</p>
                    </div>
                 </div>
                 <div class="col-md-6 col-lg-3">
                    <div class="comon-steps">
                       <div class="steps-img">
                       
                       </div>
                       <h5> Secure Payment </h5>
                       <p> Once you have the supplier, you get to choose a mode of payment as per your convenience. </p>
                    </div>
                 </div>
              </div>
        </div>
     </div>
   </div>
   
   <div class="body-d3">
     <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="left-apps-text">
                  <h2> Double Your Experience
                  <span> by Downloading <span class="sp-red"> the app! </span> </span> </h2>
                  <p> MyTamilEvent.com on your mobile! <br> Explore, Book and get the work done. </p>
                  
                  <h3> Available soon! </h3> 
                  <ul class="aps-div">
                    <li> <a href="#"> <img src="images/app-store.png" alt="pic2"> </a>
                         <a href="#"> <img src="images/google-play.png" alt="pic2"> </a>
                    </li>
                  </ul>
               </div>
            </div>
            <div class="col-md-6">
               <img src="images/mobile.jpg" alt="pic2">
            </div>
         </div>
     </div>
   </div>
   
   <div class="body-d4">
      <div class="container">
         <div class="comon-heading">
            <h2> Trending <span> Top Suppliers </span> </h2>
            <p> Find the service you need in just few clicks </p>
         </div>
         <div class="trding-qwl">
             <div id="owl-demo2" class="owl-carousel owl-theme owl-loaded owl-drag">
                <div class="teding-itms">
                    <div class="tr-user-pic"></div>
                    <h5> Agara Cretions </h5>
                    <div class="rating">
                       <ul>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="fas fa-star-half-alt"></i> </li>
                       </ul>
                       <p>0.0 / 5 </p>
                    </div>
                    
                    <div class="last-items-d1">
                      <ul>
                       <li> <a href="#"> United Kingdom </a> </li>
                       <li> <a class="like-d1"> <span class="like-show"> <i class="fas fa-heart"></i> Save </span> </a>  </li>
                      </ul>
                    </div>
                </div>
                
                <div class="teding-itms">
                    <div class="tr-user-pic"></div>
                    <h5> Agara Cretions </h5>
                    <div class="rating">
                       <ul>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="fas fa-star-half-alt"></i> </li>
                       </ul>
                       <p>0.0 / 5 </p>
                    </div>
                    
                    <div class="last-items-d1">
                      <ul>
                       <li> <a href="#"> United Kingdom </a> </li>
                       <li> <a class="like-d2"> <span class="like-show2"> <i class="fas fa-heart"></i> Save </span> </a>  </li>
                      </ul>
                    </div>
                </div>

                <div class="teding-itms">
                    <div class="tr-user-pic"></div>
                    <h5> Agara Cretions </h5>
                    <div class="rating">
                       <ul>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="fas fa-star-half-alt"></i> </li>
                       </ul>
                       <p>0.0 / 5 </p>
                    </div>
                    
                    <div class="last-items-d1">
                      <ul>
                       <li> <a href="#"> United Kingdom </a> </li>
                       <li> <a class="like-d3"> <span class="like-show3"> <i class="fas fa-heart"></i> Save </span> </a>  </li>
                      </ul>
                    </div>
                </div>

                <div class="teding-itms">
                    <div class="tr-user-pic"></div>
                    <h5> Agara Cretions </h5>
                    <div class="rating">
                       <ul>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="fas fa-star-half-alt"></i> </li>
                       </ul>
                       <p>0.0 / 5 </p>
                    </div>
                    
                    <div class="last-items-d1">
                      <ul>
                       <li> <a href="#"> United Kingdom </a> </li>
                       <li> <a class="like-d4"> <span class="like-show4"> <i class="fas fa-heart"></i> Save </span> </a>  </li>
                      </ul>
                    </div>
                </div>

                <div class="teding-itms">
                    <div class="tr-user-pic"></div>
                    <h5> Agara Cretions </h5>
                    <div class="rating">
                       <ul>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="fas fa-star-half-alt"></i> </li>
                       </ul>
                       <p>0.0 / 5 </p>
                    </div>
                    
                    <div class="last-items-d1">
                      <ul>
                       <li> <a href="#"> United Kingdom </a> </li>
                       <li> <a class="like-d1"> <span class="like-show"> <i class="fas fa-heart"></i> Save </span> </a>  </li>
                      </ul>
                    </div>
                </div>

                <div class="teding-itms">
                    <div class="tr-user-pic"></div>
                    <h5> Agara Cretions </h5>
                    <div class="rating">
                       <ul>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="fas fa-star-half-alt"></i> </li>
                       </ul>
                       <p>0.0 / 5 </p>
                    </div>
                    
                    <div class="last-items-d1">
                      <ul>
                       <li> <a href="#"> United Kingdom </a> </li>
                       <li> <a class="like-d1"> <span class="like-show"> <i class="fas fa-heart"></i> Save </span> </a>  </li>
                      </ul>
                    </div>
                </div>
                
                <div class="teding-itms">
                    <div class="tr-user-pic"></div>
                    <h5> Agara Cretions </h5>
                    <div class="rating">
                       <ul>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="fas fa-star-half-alt"></i> </li>
                       </ul>
                       <p>0.0 / 5 </p>
                    </div>
                    
                    <div class="last-items-d1">
                      <ul>
                       <li> <a href="#"> United Kingdom </a> </li>
                       <li> <a class="like-d1"> <span class="like-show"> <i class="fas fa-heart"></i> Save </span> </a>  </li>
                      </ul>
                    </div>
                </div>
                
                <div class="teding-itms">
                    <div class="tr-user-pic"></div>
                    <h5> Agara Cretions </h5>
                    <div class="rating">
                       <ul>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="fas fa-star-half-alt"></i> </li>
                       </ul>
                       <p>0.0 / 5 </p>
                    </div>
                    
                    <div class="last-items-d1">
                      <ul>
                       <li> <a href="#"> United Kingdom </a> </li>
                       <li> <a class="like-d1"> <span class="like-show"> <i class="fas fa-heart"></i> Save </span> </a>  </li>
                      </ul>
                    </div>
                </div>
                
                <div class="teding-itms">
                    <div class="tr-user-pic"></div>
                    <h5> Agara Cretions </h5>
                    <div class="rating">
                       <ul>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="fas fa-star-half-alt"></i> </li>
                       </ul>
                       <p>0.0 / 5 </p>
                    </div>
                    
                    <div class="last-items-d1">
                      <ul>
                       <li> <a href="#"> United Kingdom </a> </li>
                       <li> <a class="like-d1"> <span class="like-show"> <i class="fas fa-heart"></i> Save </span> </a>  </li>
                      </ul>
                    </div>
                </div>
                
                <div class="teding-itms">
                    <div class="tr-user-pic"></div>
                    <h5> Agara Cretions </h5>
                    <div class="rating">
                       <ul>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="far fa-star"></i> </li>
                         <li> <i class="fas fa-star-half-alt"></i> </li>
                       </ul>
                       <p>0.0 / 5 </p>
                    </div>
                    
                    <div class="last-items-d1">
                      <ul>
                       <li> <a href="#"> United Kingdom </a> </li>
                       <li> <a class="like-d1"> <span class="like-show"> <i class="fas fa-heart"></i> Save </span> </a>  </li>
                      </ul>
                    </div>
                </div>
                
             </div>
         </div>
      </div>
   </div>
   

<footer>
   <div class="container">
     <div class="row">
          <div class="col-md-6 col-lg-6">
              <div class="footer-inside-d1">
                 <a href="#" class="footer-logo"> <img src="images/logo.png" alt="lofooter"> </a>
                 <p> The powerful directory to find the right services you need for your perfect event and keep track of all your supplier's deals in one place.
With the secure payment method, one to one chat feature and contact based services, put your mind at ease and enjoy the process of your event. </p>
                 <ul class="socal-media">
                   <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                   <li> <a href="#"> <i class="fab fa-youtube"></i> </a> </li>
                   <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                   <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
                 </ul>
                 <p class="copy-text mobil-none"> Copyright © 2021 MyTamilEvent.com, All right Reserved Agara Creations LTD </p>
              </div>
          </div>
          <div class="col-md-6 col-lg-6">
             <div class="row">
               <div class="footer-link-d1">
                  <h4> Links </h4>
                  <ul>
                    <li> <a href="#"> About us </a> </li>
                    <li> <a href="#"> How it works </a> </li>
                    <li> <a href="#"> Privacy and Policy </a> </li>
                    <li> <a href="#"> Contact </a> </li>
                  </ul>
               </div>
                
                <div class="footer-apps">
                   <a href="#"> <img src="images/app-store.png" alt="ft"> </a>
                   <a href="#"> <img src="images/app-store.png" alt="ft2"> </a>
                </div>
                <p class="copy-text mobil-show"> Copyright © 2019 The Workreap, All Right Reserved amentotech </p>
             </div>
             
             
          </div>
      </div>
   </div>
</footer> 
   





<!-- Bootstrap JS -->
 <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/popper.min.js" ></script>
  <script src="js/bootstrap.min.js" ></script>
<!--counter js------------->
<script src="js/coustom.js"></script>
<script type='text/javascript' src='js/owl.carousel.min.js'></script>
 </body>
</html>